body {
    padding: 0;
    margin: 0;
}
header {
    background: url("../img/back1.jpg") no-repeat center top / cover;
    height: 813px;
}
.container1 {
    width: 705px;
    margin: 0 auto;
    height: 813px;
}
.mainH {
    opacity: 0.8;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-top: 235px;
    font-size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.icon {
    padding-top: 40px;
    padding-left: 310px;
    opacity: 0.7;
    width: 70px;
    height: 70px;
}
.try {
    margin-top: 141px;
}